body {
  background-color: lightslategray;
}

.editor-area.columns {
  display: flex;
}

.editor-area.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.run-results td,
th {
  font-size: 12px;
}
.tabrow {
  display: flex;
}

.tabcolumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: '100%';
}

.animate-icon {
  animation: rotation 2s infinite linear;
  transform-origin: 50% 55%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-note:hover {
  color: red;
  cursor: pointer;
}

.ui.menu {
  margin-bottom: 0;
  height: 40px;
}

.pane-base {
  cursor: pointer;
  font-weight: bold;
}

.chosen-pane {
  color: blue;
  font-weight: bolder;
}
