body {
  background-color: lightsteelblue;
}

.editor-area.columns {
  display: flex;
}

.editor-area.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.run-results td,
th {
  font-size: 12px;
}
